@keyframes title_animation {
    0%   {right:-15%; opacity:0;font-size: 4rem;}
    100% {right:10%; opacity:1;font-size: 5rem;}
}


.landing{
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    .title{
        z-index: 1;

        #title1, #title2{
            position: absolute;
            z-index: 1;
            text-align: right;
            color: $white;
            right: -15%;
            opacity: 0;
            padding: 1.15vh;
            -webkit-text-stroke: 1px $blue;
            text-shadow:
                3px 3px 0 $blue,
              -1px -1px 0 $blue,
               1px -1px 0 $blue,
               -1px 1px 0 $blue,
                1px 1px 0 $blue;
        }
        #title1{
            top: 20vh;
            animation-name: title_animation;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
        #title2{
            top: 30vh;
            animation-name: title_animation;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-delay: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
    }

    .slide{
        grid-column: 1 / 6;
        grid-row: 1 / 4;
        width: 100%;

        .slider_images{
            position: relative;
            left: 0px;
            z-index: -1;
            overflow: hidden;
            height: 100vh;

            img{
                z-index: 0;
                width: 100%;
                position: relative;
                top: 0px;
                left: 0px;
                overflow: hidden;
            }
        }

        .slider_description{
            z-index: 1;
            color: $white;
            position: absolute;
            top: 67vh;
            left: 10%;
            padding-top: 2vh;
            width: 30%;
            text-align: center;

            h2{
                padding-bottom: 2rem;
            }
        }

        .slider_nav{
            z-index: 0;
            color: $white;
            position: absolute;
            top: 65vh;
            left: 0%;
            background-color: $blue;
            height: 15rem;
            width: 50%;
            padding: 0px 2vh;
            text-align: center;

            vertical-align: middle;

            :first-child{
                margin-right:80vh;
            }

            i{
                cursor: pointer;
                padding-top: 5rem;
                font-size: 3rem;

                 &:hover {
                     font-size: 3.5rem;
                 }
            }
        }
    }

    .slide2, .slide3{
        display: none;
    }

}

.index_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .students_card{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;
        height: 100%;


        .students_card_content{
            display: grid;
            grid-template-columns: 20% 1fr 10%;
            grid-template-rows: auto auto;
            padding: 2rem;
            margin-top: 10%;
            color: $black;

            h2{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                padding-bottom: 4rem;
            }
            p{
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                padding-bottom: 2rem;
            }
        }

        &:hover{
            background-color: $light_blue;
        }
    }

    .companies_card{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;

        .companies_card_content{
            display: grid;
            grid-template-columns: 20% 1fr 10%;
            grid-template-rows: auto auto;
            padding: 3rem;
            margin-top: 10%;
            color: $black;

            h2{
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                padding-bottom: 4rem;
            }
            p{
                grid-row: 2 / 3;
                grid-column: 2 / 3;
                padding-bottom: 2rem;
            }
        }

        &:hover{
            background-color: $light_blue;
        }
    }

    .institutional_card{
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        .institutional_card_content{
            display: grid;
            grid-template-columns: 10% 1fr 1fr 20%;
            grid-template-rows: auto repeat(2, 1fr);
            grid-column-gap: 1rem;
            padding: 3rem;
            align-items: center;
            justify-items: center;

            h2{
                grid-row: 1 / 2;
                grid-column: 2 / 4;
                color: $blue;
            }

            a{
                text-align: center;
            }

            a[href="http://https://www.uc.pt/en/fctuc"]{
                grid-row: 2 / 3;
                grid-column: 2 / 3;

                img{
                    width: 75%;
                }
            }
            a[href="https://www.ipdj.pt/"]{
                grid-row: 3 / 4;
                grid-column: 2 / 3;

                img{
                    width: 25%;
                }
            }
            a[href="http://www.ordemengenheiros.pt/pt/"]{
                grid-row: 3 / 4;
                grid-column: 3 / 4;

                img{
                    width: 55%;
                }
            }
            a[href="https://www.uc.pt/en"]{
                grid-row: 2 / 3;
                grid-column: 3 / 4;

                img{
                    width: 55%;
                }
            }
        }
    }

    .anual_card{
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        img{
            width: 10%;
        }

        .anual_card_content{
            display: grid;
            grid-template-columns: 10% 1fr 1fr 20%;
            grid-template-rows: auto repeat(3, 1fr);
            grid-column-gap: 3rem;
            grid-row-gap: 1rem;
            padding: 3rem;
            align-items: center;
            justify-items: center;

            h2{
                grid-row: 1 / 2;
                grid-column: 2 / 4;
                color: $blue;
            }

            a{
                text-align: center;
            }

            img{
                width: 100%;
            }

            a[href="http://space.ipn.pt/"]{
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }

            a[href="https://www.criticalsoftware.com/pt/homepage"]{
                grid-row: 2 / 3;
                grid-column: 3 / 4;

                img{
                    width: 60%;
                }
            }

            a[href="https://www.bettertech.pt/"]{
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }

            a[href="http://www.itgrow.pt/pt/inicio"]{
                grid-row: 3 / 4;
                grid-column: 3 / 4;
                text-align: center;
            }

            a[href="https://www.blue-infinity.com/"]{
                grid-row: 4 / 5;
                grid-column: 2 / 3;
            }

            a[href="https://www.vestas.com/"]{
                grid-row: 4 / 5;
                grid-column: 3 / 4;
            }
        }
    }
 }
