@-webkit-keyframes title_animation {
    0%   {right:-15%; opacity:0;font-size: 4rem;}
    100% {right:10%; opacity:1;font-size: 5rem;}
}


@keyframes title_animation {
    0%   {right:-15%; opacity:0;font-size: 4rem;}
    100% {right:10%; opacity:1;font-size: 5rem;}
}


.landing{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .title{
        z-index: 1;

        #title1, #title2{
            position: absolute;
            z-index: 1;
            text-align: right;
            color: $white;
            right: -15%;
            opacity: 0;
            padding: 1.15vh;
            -webkit-text-stroke: 1px $blue;
            text-shadow:
                3px 3px 0 $blue,
              -1px -1px 0 $blue,
               1px -1px 0 $blue,
               -1px 1px 0 $blue,
                1px 1px 0 $blue;
        }
        #title1{
            top: 20vh;
            -webkit-animation-name: title_animation;
                    animation-name: title_animation;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
            -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
            -webkit-animation-direction: normal;
                    animation-direction: normal;
            -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
        }
        #title2{
            top: 30vh;
            -webkit-animation-name: title_animation;
                    animation-name: title_animation;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
            -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
            -webkit-animation-direction: normal;
                    animation-direction: normal;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
            -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
        }
    }

    .slide{
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / 6;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1 / 4;
        width: 100%;

        .slider_images{
            position: relative;
            left: 0px;
            z-index: -1;
            overflow: hidden;
            height: 100vh;

            img{
                z-index: 0;
                width: 100%;
                position: relative;
                top: 0px;
                left: 0px;
                overflow: hidden;
            }
        }

        .slider_description{
            z-index: 1;
            color: $white;
            position: absolute;
            top: 67vh;
            left: 10%;
            padding-top: 2vh;
            width: 30%;
            text-align: center;

            h2{
                padding-bottom: 2rem;
            }
        }

        .slider_nav{
            z-index: 0;
            color: $white;
            position: absolute;
            top: 65vh;
            left: 0%;
            background-color: $blue;
            height: 15rem;
            width: 50%;
            padding: 0px 2vh;
            text-align: center;

            vertical-align: middle;

            :first-child{
                margin-right:80vh;
            }

            i{
                cursor: pointer;
                padding-top: 5rem;
                font-size: 3rem;

                 &:hover {
                     font-size: 3.5rem;
                 }
            }
        }
    }

    .slide2, .slide3{
        display: none;
    }

}


.landing > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1

}


.landing > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2

}


.landing > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:3

}


.landing > *:nth-child(4){-ms-grid-row:1;-ms-grid-column:4

}


.landing > *:nth-child(5){-ms-grid-row:1;-ms-grid-column:5

}


.landing > *:nth-child(6){-ms-grid-row:2;-ms-grid-column:1

}


.landing > *:nth-child(7){-ms-grid-row:2;-ms-grid-column:2

}


.landing > *:nth-child(8){-ms-grid-row:2;-ms-grid-column:3

}


.landing > *:nth-child(9){-ms-grid-row:2;-ms-grid-column:4

}


.landing > *:nth-child(10){-ms-grid-row:2;-ms-grid-column:5

}


.landing > *:nth-child(11){-ms-grid-row:3;-ms-grid-column:1

}


.landing > *:nth-child(12){-ms-grid-row:3;-ms-grid-column:2

}


.landing > *:nth-child(13){-ms-grid-row:3;-ms-grid-column:3

}


.landing > *:nth-child(14){-ms-grid-row:3;-ms-grid-column:4

}


.landing > *:nth-child(15){-ms-grid-row:3;-ms-grid-column:5

}

.index_content{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1rem 1fr;
    grid-template-rows: repeat(2, auto);

    .students_card{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #E5E5E5;
        background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;


        .students_card_content{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 20% 1fr 10%;
            grid-template-columns: 20% 1fr 10%;
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto;
            padding: 2rem;
            margin-top: 10%;
            color: $black;

            h2{
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                grid-row: 1 / 2;
                padding-bottom: 4rem;
            }
            p{
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                padding-bottom: 2rem;
            }
        }


        .students_card_content > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1
        }


        .students_card_content > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2
        }


        .students_card_content > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:3
        }


        .students_card_content > *:nth-child(4){-ms-grid-row:2;-ms-grid-column:1
        }


        .students_card_content > *:nth-child(5){-ms-grid-row:2;-ms-grid-column:2
        }


        .students_card_content > *:nth-child(6){-ms-grid-row:2;-ms-grid-column:3
        }

        &:hover{
            background-color: $light_blue;
        }
    }

    .companies_card{
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #E5E5E5;
        background: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;
        background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;

        .companies_card_content{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 20% 1fr 10%;
            grid-template-columns: 20% 1fr 10%;
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto;
            padding: 3rem;
            margin-top: 10%;
            color: $black;

            h2{
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                grid-row: 1 / 2;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
                padding-bottom: 4rem;
            }
            p{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
                padding-bottom: 2rem;
            }
        }

        .companies_card_content > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1
        }

        .companies_card_content > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2
        }

        .companies_card_content > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:3
        }

        .companies_card_content > *:nth-child(4){-ms-grid-row:2;-ms-grid-column:1
        }

        .companies_card_content > *:nth-child(5){-ms-grid-row:2;-ms-grid-column:2
        }

        .companies_card_content > *:nth-child(6){-ms-grid-row:2;-ms-grid-column:3
        }

        &:hover{
            background-color: $light_blue;
        }
    }

    .institutional_card{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;

        .institutional_card_content{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 10% 1rem 1fr 1rem 1fr 1rem 20%;
            grid-template-columns: 10% 1fr 1fr 20%;
            grid-template-rows: auto repeat(2, 1fr);
            grid-column-gap: 1rem;
            padding: 3rem;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-items: center;

            img{
                margin: 3rem;
            }

            h2{
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                grid-row: 1 / 2;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
                grid-column: 2 / 4;
                color: $blue;
            }

            a{
                text-align: center;
            }

            a[href="http://https://www.uc.pt/en/fctuc"]{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 1;
                -ms-grid-column-span: 2;
                grid-column: 1 / 3;

                img{
                    width: 100%;
                }
            }
            a[href="http://www.ipdj.pt/"]{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;

                img{
                    width: 55%;
                }
            }
            a[href="https://www.uc.pt/fctuc/deec/"]{
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                grid-row: 3 / 4;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;

                img{
                    width: 75%;
                }
            }
            a[href="http://www.uc.pt/fctuc/dei/"]{
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                grid-row: 3 / 4;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;

                img{
                    width: 75%;
                }
            }
        }

        .institutional_card_content > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1
        }

        .institutional_card_content > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3
        }

        .institutional_card_content > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:5
        }

        .institutional_card_content > *:nth-child(4){-ms-grid-row:1;-ms-grid-column:7
        }

        .institutional_card_content > *:nth-child(5){-ms-grid-row:2;-ms-grid-column:1
        }

        .institutional_card_content > *:nth-child(6){-ms-grid-row:2;-ms-grid-column:3
        }

        .institutional_card_content > *:nth-child(7){-ms-grid-row:2;-ms-grid-column:5
        }

        .institutional_card_content > *:nth-child(8){-ms-grid-row:2;-ms-grid-column:7
        }

        .institutional_card_content > *:nth-child(9){-ms-grid-row:3;-ms-grid-column:1
        }

        .institutional_card_content > *:nth-child(10){-ms-grid-row:3;-ms-grid-column:3
        }

        .institutional_card_content > *:nth-child(11){-ms-grid-row:3;-ms-grid-column:5
        }

        .institutional_card_content > *:nth-child(12){-ms-grid-row:3;-ms-grid-column:7
        }
    }

    .annual_card{
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;

        .annual_card_content{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 5% 3rem 1fr 3rem 1fr 3rem 1fr 3rem 10%;
            grid-template-columns: 5% 1fr 1fr 1fr 10%;
            -ms-grid-rows: auto 1rem 1fr 1rem 1fr 1rem 1fr;
            grid-template-rows: auto repeat(5, 1fr);
            grid-column-gap: 3rem;
            grid-row-gap: 1rem;
            padding: 3rem;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-items: center;

            h2{
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                grid-row: 1 / 2;
                -ms-grid-column: 2;
                -ms-grid-column-span: 3;
                grid-column: 2 / 5;
                color: $blue;
                text-align: center;
            }

            a{
                text-align: center;
            }

            img{
                width: 100%;
                margin: 2rem;
            }

            a[href="http://space.ipn.pt/"]{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }

            a[href="https://www.criticalsoftware.com/pt/homepage"]{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;

                img{
                    width: 60%;
                }
            }

            a[href="https://www.bisilque.com/"]{
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                grid-row: 3 / 4;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }

            a[href="https://www.boldint.pt/"]{
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                grid-row: 3 / 4;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;
                text-align: center;
            }

            a[href="https://www.borgwarner.com/home"]{
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
                grid-row: 4 / 5;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }

            a[href="https://www2.deloitte.com/pt/pt.html"]{
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
                grid-row: 4 / 5;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;
            }

            a[href="https://innowave.tech/"]{
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
                grid-row: 4 / 5;
                -ms-grid-column: 4;
                -ms-grid-column-span: 1;
                grid-column: 4 / 5;
            }
            a[href="http://www.martifer.pt/pt/"]{
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                -ms-grid-column: 4;
                -ms-grid-column-span: 1;
                grid-column: 4 / 5;
            }
            a[href="https://www.mercedes-benz.pt/"]{
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                grid-row: 3 / 4;
                -ms-grid-column: 4;
                -ms-grid-column-span: 1;
                grid-column: 4 / 5;
            }
            a[href="http://www.thenavigatorcompany.com/"]{
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
                grid-row: 5 / 6;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }
            a[href="https://www.outsystems.com/"]{
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
                grid-row: 5 / 6;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;
            }
            a[href="https://skyline.be/"]{
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
                grid-row: 5 / 6;
                -ms-grid-column: 4;
                -ms-grid-column-span: 1;
                grid-column: 4 / 5;
            }
            a[href="https://stratioautomotive.com/"]{
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                grid-row: 6 / 7;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }
            a[href="https://www.technipfmc.com/"]{
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                grid-row: 6 / 7;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
                grid-column: 3 / 4;
            }
        }

        .anual_card_content > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1
        }

        .anual_card_content > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3
        }

        .anual_card_content > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:5
        }

        .anual_card_content > *:nth-child(4){-ms-grid-row:1;-ms-grid-column:7
        }

        .anual_card_content > *:nth-child(5){-ms-grid-row:3;-ms-grid-column:1
        }

        .anual_card_content > *:nth-child(6){-ms-grid-row:3;-ms-grid-column:3
        }

        .anual_card_content > *:nth-child(7){-ms-grid-row:3;-ms-grid-column:5
        }

        .anual_card_content > *:nth-child(8){-ms-grid-row:3;-ms-grid-column:7
        }

        .anual_card_content > *:nth-child(9){-ms-grid-row:5;-ms-grid-column:1
        }

        .anual_card_content > *:nth-child(10){-ms-grid-row:5;-ms-grid-column:3
        }

        .anual_card_content > *:nth-child(11){-ms-grid-row:5;-ms-grid-column:5
        }

        .anual_card_content > *:nth-child(12){-ms-grid-row:5;-ms-grid-column:7
        }

        .anual_card_content > *:nth-child(13){-ms-grid-row:7;-ms-grid-column:1
        }

        .anual_card_content > *:nth-child(14){-ms-grid-row:7;-ms-grid-column:3
        }

        .anual_card_content > *:nth-child(15){-ms-grid-row:7;-ms-grid-column:5
        }

        .anual_card_content > *:nth-child(16){-ms-grid-row:7;-ms-grid-column:7
        }
    }
 }

.index_content > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1
 }

.index_content > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3
 }

.index_content > *:nth-child(3){-ms-grid-row:3;-ms-grid-column:1
 }

.index_content > *:nth-child(4){-ms-grid-row:3;-ms-grid-column:3
 }
