.best{
    position: relative;
    top: 20vh;
    left: 5vh;
    width: 90%;
    margin-bottom: 15vh;

    h1{
        color: $blue;
        margin-bottom: 3vh;
    }

    img{
            display: none !important;
            width: 30%;
            margin-left: 5rem;
            vertical-align: top;
    }
}

.international{
    .best_international{
        width: 90%;
        display: inline-block;
    }
}

.best_coimbra{
    width: 90%;
    display: inline-block;
}

.about_footer{
    margin-top: 30vh;
}