.companies_partnerships{
    padding-left: 5vh;
    padding-bottom: 10vh;

    h1{
        padding: 15vh 0px 30px 0px;
        color: $blue;
    }

    h2{
        color: $blue;
        margin: 5rem 0px 2rem 0px;
    }

    .partneships_intitucional_title{
        display: none;
    }

    img{
        display: none;
    }
}