footer{
    background-color: $blue;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
    color: $white;
    padding: 2rem 0;

    .contacts{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;

        div{
            padding: 1rem 0px 0px 0px;

            img{
                width: 10%;
            }

            p{
                padding-bottom: 2rem;
                align-content: center;
                vertical-align: middle;
                padding-left: 1rem;
            }
        }
    }

    .social{
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        div{
            text-align: center;
        }

        img{
            width: 16%;
            padding: 1rem;
        }
    }

    .navigation{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 70%;
        text-align: center;

        h2{
            padding: 1rem;
            color: $white;
        }

        .nav_top{
            grid-row: 1 / 2;
        }

        .nav_bottom{
            grid-column: 2 / 3;
        }
    }

    .copyright{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        padding: 2rem;
        text-align: center;
    }

    .decoration{
        display: none;
    }
}
