header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 8fr;
    grid-template-columns: 1fr 8fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-column-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: $blue;

    a{
        color: $white;

        img{
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1 / 2;
            width: auto;
            height: 100px;
        }
    }

    nav{
        display: none;
    }

    .hamburger{
        i{
            font-size: 35px;
            color: white;
            float: right;
            padding-right: 2rem;
        }

        .hamburger_dropdown{
            background-color: $blue;
            text-align: right;
            position: fixed;
            width: 50%;
            display: block;
            top: 69px;
            right: 0px;
            padding-bottom: 2rem;
            display: none;

            a,h2, i{
                position: relative;
                margin: 1rem 1rem;
                text-align: right;
                float: right;
                padding: 0 1rem;
            }

            i{
                font-size: 20px;
            }
        }
    }
}header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}header > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
}