header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-column-gap: 2rem;
    align-items: center;
    z-index: 2;
    height: 70px;
    position: fixed;
    width: 100%;

    background-color: $blue;

    a{

        img{
            grid-column: 1 / 2;
            width: auto;
            height: 70px;
        }
    }

    nav{
        display: flex;
        grid-column: 2 / 3;
        width: 100%;
        justify-content: space-between;
        padding: 0px 4rem;
    }
}
