header {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-column-gap: 2rem;
    align-items: center;
    z-index: 2;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: $blue;

    a{
        color: $white;

        img{
            grid-column: 1 / 2;
            width: auto;
            height: 70px;
        }
    }

    nav{
        display: none;
    }

    .hamburger{
        i{
            font-size: 35px;
            color: white;
            float: right;
            padding-right: 2rem;
        }

        .hamburger_dropdown{
            background-color: $blue;
            text-align: right;
            position: fixed;
            width: 50%;
            display: block;
            top: 69px;
            right: 0px;
            padding-bottom: 2rem;
            display: none;

            a,h2, i{
                position: relative;
                margin: 1rem 1rem;
                text-align: right;
                float: right;
                padding: 0 1rem;
            }

            i{
                font-size: 20px;
            }
        }
    }
}
