.members{
    margin-bottom: 40vh;

    h1{
        position: relative;
        text-align: center;
        top: 15vh;
        color: $blue;
    }

    .members_form{
        position: relative;
        width: 80%;
        text-align: center;
        top: 30vh;
        margin: 0 auto;

        label{
            font-family: 'Asap Condensed', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
        }

        input[type="text"]{
            border-bottom: solid $black 2px;
            width: 80%;
            height: 3.5rem;
            padding: 3rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
        }

        input[type="submit"]{
            background-color: $blue;
            width: 20vh;
            height: 10vh;
            color: $white;
            cursor: pointer;
            font-family: 'Asap Condensed', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
            border-radius: 0.5rem;

            &:hover{
                background-color: $light_blue;
            }
        }
    }

    .members_form_helper{
        position: relative;
        width: 80%;
        text-align: center;
        padding-top: 33vh;
        margin: 0 auto;

        p{
            margin: 5rem 0;
        }
    }
}
