.students_recruitment{

    h1{
        padding: 15vh 0px 0px 5vh;
        color: $blue;
    }

    img{
        width: 100%;
        margin: 5vh 0px;
    }

    div{
        position: relative;
        width: 100%;
        height: auto;
        right: 10vh;
        top: 5vh;
        left: 0%;
        padding: 3% 5% 3% 3%;
        margin-top: 2rem;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;

        h2{
            color: $blue;
            padding-bottom: 2vh;
        }

    }

    .how, .where{

    }

    .where, .who{

    }
}
