@media only screen and (min-width: 900px) {
    .companies_partnerships{
        padding-left: 20vh;

        h1{
            padding: 15vh 0px 30px 0px;
            color: $blue;
        }

        h2{
            color: $blue;
            margin: 5rem 0px 2rem 0px;
        }

        .partneships_intitucional_title{
            display: inline;
        }

        img{
            display: inline;
            width: 12%;
            margin: 2rem;
            vertical-align: middle;
        }

        #logo_pequeno{
            width: 8%;
        }

        #logo_medio{
            width: 13%;
        }

        #logo_grande{
            width: 25%;
        }
    }
}
