@media only screen and (min-width: 450px) {
    header{
        .hamburger{
            .hamburger_dropdown{
                width: 35% !important;
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    header{
        nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2 / 3;
            width: 100%;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding: 0px 4rem;

            i{
                cursor: pointer;
                color: $white;
                padding: 0 1vh;
                font-size: 1.5rem;
            }

            .fa-angle-down {

                &:hover {
                    font-size: 2rem;
                }
            }

            .nav_dropdown_companies, .nav_dropdown_students{
                background-color: $blue;
                width: 22vh;
                position: fixed;
                top: 70px;
                padding: 3vh;
                text-align: center;
                display: none;

                a{
                    padding: 0.5vh;
                }
            }

            .nav_dropdown_companies{
                left: 37vh;
            }

            .nav_dropdown_students{
                left: 59vh;
            }
        }

        .hamburger{
            display: none !important;
        }
    }
}

@media only screen and (min-width: 850px) {
    header{
        nav{
            .nav_dropdown_companies{
                left: 42vh;
            }

            .nav_dropdown_students{
                left: 66vh;
            }
        }
    }
}


@media only screen and (min-width: 960px) {
    header{
        nav{
            .nav_dropdown_companies{
                left: 50vh;
            }

            .nav_dropdown_students{
                left: 76vh;
            }
        }
    }
}


@media only screen and (min-width: 1060px) {
    header{
        nav{
            .nav_dropdown_companies{
                left: 50vh;
                width: 30vh;
            }

            .nav_dropdown_students{
                left: 83vh;
                width: 30vh;
            }
        }
    }
}

@media only screen and (min-width: 1260px) {
    header{
        nav{
            .nav_dropdown_companies{
                left: 60vh;
                width: 30vh;
            }

            .nav_dropdown_students{
                left: 93vh;
                width: 30vh;
            }
        }
    }
}

@media only screen and (min-width: 1360px) {
    header{
        nav{
            .nav_dropdown_companies{
                left: 60vh;
                width: 30vh;
            }

            .nav_dropdown_students{
                left: 105vh;
                width: 30vh;
            }
        }
    }
}