@media only screen and (min-width: 1000px) {
    .students_partners{
        display: inline-block !important;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
        margin: 7vh 0px;

        img{
            width: 20%;
            margin: 1rem 4rem;
            vertical-align: middle;

            -webkit-box-pack: justify;

                -ms-flex-pack: justify;

                    justify-content: space-between;
        }

        #logo_pequeno{
            width: 8%;
        }

        #logo_medio{
            width: 13%;
        }

        #logo_grande{
            width: 25%;
        }
    }

    .students_submenu{
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 5% 1fr 5%;
        grid-template-rows: 5% 1fr 5%;
        position: relative;
        margin-top: 15vh;
        margin-bottom: 5vh;
        color: white;
        text-align: center;

        .students_submenu_events{
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1 / 2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2 / 3;
            background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #C4C4C4;
            background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
        .students_submenu_courses{
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2 / 3;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2 / 3;
            background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #C4C4C4;
            background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
        .students_submenu_recruitment{
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            grid-column: 3 / 4;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2 / 3;
            background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #C4C4C4;
            background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
    }

    .students_submenu > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    .students_submenu > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2
    }

    .students_submenu > *:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    .students_submenu > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 1
    }

    .students_submenu > *:nth-child(5){
        -ms-grid-row: 2;
        -ms-grid-column: 2
    }

    .students_submenu > *:nth-child(6){
        -ms-grid-row: 2;
        -ms-grid-column: 3
    }

    .students_submenu > *:nth-child(7){
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    .students_submenu > *:nth-child(8){
        -ms-grid-row: 3;
        -ms-grid-column: 2
    }

    .students_submenu > *:nth-child(9){
        -ms-grid-row: 3;
        -ms-grid-column: 3
    }
}
