@media only screen and (min-width: 800px) {
    .best{
        left: 10vh;

        img{
            display: inline-block !important;
        }

        .best_international, .best_coimbra{
            width: 50% !important;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .best{
        left: 15vh;
    }
}

@media only screen and (min-width: 1500px) {
    .best{
        left: 20vh;
    }
}
