footer{
    background-color: blue;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 2rem 1fr 2rem 10%;
    grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: auto 2rem auto 2rem auto 2rem auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    padding: 2rem 0;
}
.contacts{
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
	text-align: center;
	padding: 1rem 0px 0px 0px;
}
.copyright{
	padding-bottom: 2rem;
	-ms-flex-line-pack: center;
	align-content: center;
	vertical-align: middle;
	padding-left: 1rem;
	-ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    padding: 2rem;
    text-align: center;
}
.decoration{
	width: 10%;
	display: none;
}

.social{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    text-align: center;
}

.'fab fa-facebook-square fa-3x'{
	margin: 1rem;
}

.navigation{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    width: 70%;
    text-align: center;
}

.ib{
    padding: 1rem;
    color: white;
}

.nav_top{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

.nav_bottom{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}


footer > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1
}
footer > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3
}
footer > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5
}
footer > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1
}
footer > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3
}
footer > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5
}
footer > *:nth-child(7){
    -ms-grid-row: 5;
    -ms-grid-column: 1
}
footer > *:nth-child(8){
    -ms-grid-row: 5;
    -ms-grid-column: 3
}
footer > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 5
}
footer > *:nth-child(10){
    -ms-grid-row: 7;
    -ms-grid-column: 1
}
footer > *:nth-child(11){
    -ms-grid-row: 7;
    -ms-grid-column: 3
}
footer > *:nth-child(12){
    -ms-grid-row: 7;
    -ms-grid-column: 5
}
