/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
$black: #000000;
$white: #ffffff;
$dark:  #57576d;
$light: #eaebec;


$blue:  #0071B9;
$light_blue: #3D83AE;

$orange: #FFA615;

$green: #9DD25F;
