/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
$black: #000000;
$white: #ffffff;
$dark:  #57576d;
$light: #eaebec;
$grey: #C4C4C4;


$blue:  #0071B9;
$light_blue: #25A9D2;

$orange: #FFA615;

$green: #46A22A;
$dark_green: #6CB01B;

$red: rgb(255,0,0);
$yellow: #EDD159;

$color_bew: #323366;
$color_trainingdays: #eeb238;
$color_greenday: #96ce8f;
$color_bestWayToStudy: #fcf38e;
$color_workshops: #bb6bd9;
$color_speeches: #e64420;
$color_spaceday: #312782;
