/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
$black: #000000;
$white: #ffffff;
$blue:  #0071B9;
$orange: #FFA615;
$green: #75BF1E;
$dark:  #57576d;
$light: #eaebec;
