@media only screen and (min-width: 1000px) {
    .students_recruitment{
        h1{
            padding: 15vh 0px 0px 20vh;
        }

        div{
            position: absolute;
            width: 22% !important;
            height: auto;
            right: 10vh;
            top: 30% !important;
            padding: 3% 5% 3% 3%;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;

            h2{
                color: $blue;
                padding-bottom: 2vh;
            }

        }

        .how, .where{
            top: 70% !important;
        }

        .where, .who{
            left: 75% !important;
        }

        .when, .how{
            left: 52.5% !important;
        }
    }
}

@media only screen and (min-width: 800px) {
    .students_recruitment{
        h1{
            padding: 15vh 0px 0px 20vh;
        }

        div{
            position: absolute;
            width: 40%;
            height: auto;
            right: 10vh;
            top: 35vh;
            padding: 3% 5% 3% 3%;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;

            h2{
                color: $blue;
                padding-bottom: 2vh;
            }

        }

        .how, .where{
            top: 65%;
        }

        .where, .who{
            left: 52.5%;
        }

        .when, .how{
            left: 2.5%;
        }
    }
}
