@media only screen and (min-width: 1000px) {
    .students_partners{
        display: inline-block !important;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        margin: 7vh 0px;

        img{
            width: 20%;
            margin: 1rem 4rem;
            vertical-align: middle;

            justify-content: space-between;
        }

        #logo_pequeno{
            width: 8%;
        }

        #logo_medio{
            width: 13%;
        }

        #logo_grande{
            width: 25%;
        }
    }

    .students_submenu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5% 1fr 5%;
        position: relative;
        margin-top: 15vh;
        margin-bottom: 5vh;
        color: white;
        text-align: center;

        .students_submenu_events{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
        .students_submenu_courses{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
        .students_submenu_recruitment{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            padding: 10vh 20vh;

            &:hover{
                background-color: $light_blue;
            }
        }
    }
}
